@import "base.css";

@font-face {
    font-family: 'iconfont';  /* project id 590279 */
    src: url('http://at.alicdn.com/t/font_590279_5oq3oyqdsx5ka9k9.eot');
    src: url('http://at.alicdn.com/t/font_590279_5oq3oyqdsx5ka9k9.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_590279_5oq3oyqdsx5ka9k9.woff') format('woff'),
    url('http://at.alicdn.com/t/font_590279_5oq3oyqdsx5ka9k9.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_590279_5oq3oyqdsx5ka9k9.svg#iconfont') format('svg');
}

.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;

}
.header{
    width: 100%;
    height: 1.46rem;
    box-shadow: 0rem 0.05rem 0rem #dcdbdb;
    display: flex;
}
.bozhu{
    width: 3.16rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.bozhu p{
    width: 1.22rem;
    height: 100%;
    box-sizing: border-box;
    font-size: 0.41rem;
    color: #626262;
    text-align: center;
    line-height: 1.4rem;
}
.bozhu p.active{
    border-bottom: 0.1rem solid #ff6a53;
}
.gz{
    display: block;
    width: 0.64rem;
    height: 0.64rem;
    margin:0.4rem 0.5rem 0 0.5rem ;
}
.sousuo{
    display: block;
    width: 0.64rem;
    height: 0.64rem;
    float: right;
    margin: 0.4rem 0.5rem 0 0;
}
.icon1{
    font-size: 0.64rem;
    color:#ff6a53 ;
}
.imgbox{
    width: 100%;
    height: 16rem;
    overflow: hidden;

}
.box{
    width: 4.83rem;
    height: 3.58rem;
    margin:4.3rem auto 0;
    position: relative;
}
.box img{
    /*display: block;*/
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.box img.active{
    display: block;
}
.foot{
    width: 100%;
    height: 1.45rem;
    border-top:0.01rem solid #efefef ;
}
.footnk{
    width: 9.33rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.iconbox{
    display: block;
    width: 1.44rem;
    height: 1.17rem;
    padding-top: 0.28rem;
    text-align: center;
}
.icon2{
    font-size: 0.63rem;
    color: #929292;
    display: block;
}
.iconbox .icon2.active{
    color: #ff7244;
}

.iconbox span{
    font-size: 0.2rem;
    color: #676767;
}
.iconbox span.active{
    color: #ff7244;
}
.jia{
    width: 1.28rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #ff7244;
}
.icon3{
    color: #fff;
    font-size: 0.65rem;
    text-align: center;
    line-height: 1.25rem;
}
.hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    display: none;
}
.hink{
    width: 8.66rem;
    height: 2.94rem;
    position: absolute;
    top: 11.39rem;
    left: 1.06rem;
    display: flex;
    justify-content: space-between;
}
.hilist{
    width: 2.65rem;
    height: 100%;
}
.yuan{
    width: 2.18rem;
    height: 2.18rem;
    background: #fa6d5b;
    border-radius: 50%;
    margin: 0 auto;
}
.hilist .lan{
    background: #70b0ee;
}
.hilist .cheng{
    background: #fcaf55;
}
.icon11{
    font-size: 1.04rem;
    color: #fff;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 2.18rem;
}
.hilist span{
    font-size: 0.33rem;
    color: #5f5f5f;
    text-align: center;
    margin-left: 0.8rem;
}
.hilist .tpsp{
    margin-left: 0.4rem;
}
.cuowu{
    width: 100%;
    height: 1.4rem;
    position: absolute;
    bottom: 0.2rem;
}
.cwbox{
    width: 1.44rem;
    height: 1.44rem;
    background: #fffaf8;
    border-radius: 50%;
    margin: 0 0 0 4.6rem;
}
.icon12{
    font-size: 1rem;
    color: #e3dfdc;
    text-align: center;
    line-height: 1.44rem;
    margin-left: 0.2rem;
}