@import "base.css";

@font-face {
    font-family: 'iconfont';  /* project id 590873 */
    src: url('https://at.alicdn.com/t/font_590873_2tl6j0jof5x3l3di.eot');
    src: url('https://at.alicdn.com/t/font_590873_2tl6j0jof5x3l3di.eot?#iefix') format('embedded-opentype'),
    url('https://at.alicdn.com/t/font_590873_2tl6j0jof5x3l3di.woff') format('woff'),
    url('https://at.alicdn.com/t/font_590873_2tl6j0jof5x3l3di.ttf') format('truetype'),
    url('https://at.alicdn.com/t/font_590873_2tl6j0jof5x3l3di.svg#iconfont') format('svg');
}

.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;

}

.header{
    width: 100%;
    height: 6.69rem;
    position: fixed;
    top: 0;
    left: 0;
}
.imgbox{
    width: 100%;
    height: 100%;
    position: relative;
}
.imgbox img{
    display: block;
    width: 100%;
    height: 100%;
}
.txbox{
    width: 6.49rem;
    height: 5.04rem;
    position: absolute;
    top:1.11rem;
    left: 2.18rem;
}
.tx{
    width: 2.52rem;
    height: 2.52rem;
    border-radius: 50%;
    border: 0.01rem solid #5E5E5E;
    margin: 0 auto 0.27rem;
}
.tx img{
    width: 100%;
    display: block;
    height: 100%;
    border-radius: 50%;
}
.imgbox p{
    width: 4.39rem;
    height: 0.59rem;
    margin: 0 auto 1.25rem;
    font-size: 0.44rem;
    color: #fff;
}
.icon1{
    font-size: 0.44rem;
    color: #e6d4d2;
}
.gzfs{
    width: 100%;
    height: 0.41rem;
    display: flex;
}
.gzfs span{
    display: block;
    width: 3.22rem;
    height: 100%;
    border-right:0.01rem solid #ddd3db ;
    box-sizing: border-box;
    font-size: 0.37rem;
    color: #fff;
    margin-left: 1rem;
}
.gzfs span:last-child{
    border: none;
    margin-left: 1rem;
}
.gk{
    width: 100%;
    height: auto;
    margin-top: 6.5rem;
}
.gklist{
    width: 9.88rem;
    height: 1.58rem;
    border-bottom: 0.01rem solid #f0f0f0;
    margin: 0 auto;
}
.icon2{
    font-size: 0.6rem;
    color: #dccdc8;
    line-height: 1.58rem;
    float: left;
}
.gklist span{
    font-size: 0.38rem;
    color: #575757;
    line-height: 1.58rem;
    margin-left: 0.57rem;
}
.icon3{
    font-size: 0.38rem;
    color: #888888;
    float: right;
    line-height: 1.58rem;
}
.gk .gklist:last-child{
    border: none;
}
.foot{
    width: 100%;
    height: 1.45rem;
    border-top:0.01rem solid #efefef ;
    position: fixed;
    bottom: 0.24rem;
    left: 0;
}
.footnk{
    width: 9.33rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.iconbox{
    display: block;
    width: 1.44rem;
    height: 1.17rem;
    padding-top: 0.28rem;
    text-align: center;
}
.icon4{
    font-size: 0.63rem;
    color: #929292;
    display: block;
}
.iconbox .icon4.active{
    color: #ff7244;
}

.iconbox span{
    font-size: 0.2rem;
    color: #676767;
}
.iconbox span.active{
    color: #ff7244;
}
.jia{
    width: 1.28rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #ff7244;
}
.icon5{
    color: #fff;
    font-size: 0.65rem;
    text-align: center;
    line-height: 1.25rem;
}
.hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    display: none;
}
.hink{
    width: 8.66rem;
    height: 2.94rem;
    position: absolute;
    top: 11.39rem;
    left: 1.06rem;
    display: flex;
    justify-content: space-between;
}
.hilist{
    width: 2.65rem;
    height: 100%;
}
.yuan{
    width: 2.18rem;
    height: 2.18rem;
    background: #fa6d5b;
    border-radius: 50%;
    margin: 0 auto;
}
.hilist .lan{
    background: #70b0ee;
}
.hilist .cheng{
    background: #fcaf55;
}
.icon11{
    font-size: 1.04rem;
    color: #fff;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 2.18rem;
}
.hilist span{
    font-size: 0.33rem;
    color: #5f5f5f;
    text-align: center;
    margin-left: 0.8rem;
}
.hilist .tpsp{
    margin-left: 0.4rem;
}
.cuowu{
    width: 100%;
    height: 1.4rem;
    position: absolute;
    bottom: 0.2rem;
}
.cwbox{
    width: 1.44rem;
    height: 1.44rem;
    background: #fffaf8;
    border-radius: 50%;
    margin: 0 0 0 4.6rem;
}
.icon12{
    font-size: 1rem;
    color: #e3dfdc;
    text-align: center;
    line-height: 1.44rem;
    margin-left: 0.2rem;
}
