@import "base.css";

@font-face {
    font-family: 'iconfont';  /* project id 590751 */
    src: url('http://at.alicdn.com/t/font_590751_a4r9md2ypmdt2o6r.eot');
    src: url('http://at.alicdn.com/t/font_590751_a4r9md2ypmdt2o6r.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_590751_a4r9md2ypmdt2o6r.woff') format('woff'),
    url('http://at.alicdn.com/t/font_590751_a4r9md2ypmdt2o6r.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_590751_a4r9md2ypmdt2o6r.svg#iconfont') format('svg');
}

.iconfont{
    font-family: 'iconfont';
}
i{
    font-style: normal;

}
.header{
    width: 100%;
    height: 1.46rem;
    box-shadow: 0rem 0.05rem 0rem #dcdbdb;
    display: flex;
    background: #fff;
    margin-bottom: 0.1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.bozhu{
    width: 1.95rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4rem;
}
.bozhu p{
    font-size: 0.46rem;
    color: #333333;

}
.xiaoxi{
    width: 100%;
    height: auto;
    margin-top: 1.7rem;
}

.xxnk{
    width: 9.84rem;
    height: 1.91rem;
    border-bottom: 0.01rem solid #e6e3e3;
    box-sizing: border-box;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: space-between;*/
  }
.icon4{
    font-size: 0.7rem;
    color: #d8cfc6;
    line-height: 1.9rem;
    float: left;
}
.xxnk span{
    font-size: 0.5rem;
    color: #303030;
    line-height: 1.9rem;
    margin-left: 0.53rem;
}
.icon5{
    font-size: 0.41rem;
    color: #a2a2a2;
    line-height: 1.9rem;
    float: right;
}
.foot{
    width: 100%;
    height: 1.45rem;
    border-top:0.01rem solid #efefef ;
    position: fixed;
    bottom: 0.24rem;
    left: 0;
}
.footnk{
    width: 9.33rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.iconbox{
    display: block;
    width: 1.44rem;
    height: 1.17rem;
    padding-top: 0.28rem;
    text-align: center;
}
.icon2{
    font-size: 0.63rem;
    color: #929292;
    display: block;
}
.iconbox .icon2.active{
    color: #ff7244;
}

.iconbox span{
    font-size: 0.2rem;
    color: #676767;
}
.iconbox span.active{
    color: #ff7244;
}
.jia{
    width: 1.28rem;
    height: 1.25rem;
    border-radius: 50%;
    background: #ff7244;
}
.icon3{
    color: #fff;
    font-size: 0.65rem;
    text-align: center;
    line-height: 1.25rem;
}
.hidden{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    display: none;
}
.hink{
    width: 8.66rem;
    height: 2.94rem;
    position: absolute;
    top: 11.39rem;
    left: 1.06rem;
    display: flex;
    justify-content: space-between;
}
.hilist{
    width: 2.65rem;
    height: 100%;
}
.yuan{
    width: 2.18rem;
    height: 2.18rem;
    background: #fa6d5b;
    border-radius: 50%;
    margin: 0 auto;
}
.hilist .lan{
    background: #70b0ee;
}
.hilist .cheng{
    background: #fcaf55;
}
.icon11{
    font-size: 1.04rem;
    color: #fff;
    margin-left: 0.5rem;
    text-align: center;
    line-height: 2.18rem;
}
.hilist span{
    font-size: 0.33rem;
    color: #5f5f5f;
    text-align: center;
    margin-left: 0.8rem;
}
.hilist .tpsp{
    margin-left: 0.4rem;
}
.cuowu{
    width: 100%;
    height: 1.4rem;
    position: absolute;
    bottom: 0.2rem;
}
.cwbox{
    width: 1.44rem;
    height: 1.44rem;
    background: #fffaf8;
    border-radius: 50%;
    margin: 0 0 0 4.6rem;
}
.icon12{
    font-size: 1rem;
    color: #e3dfdc;
    text-align: center;
    line-height: 1.44rem;
    margin-left: 0.2rem;
}